flask
gunicorn
google-auth
google-auth-oauthlib
google-auth-httplib2
google-api-python-client
google-cloud-secret-manager
google-cloud-storage
gspread
requests
python-dotenv
numpy<2
tflite-runtime
scipy
